// Print out HTML helper classes for particular breakpoint
@mixin printClasses($_breakpoint: false) {
	
	@if $_breakpoint {
		$breakpoint: #{getBreakpointName($_breakpoint)}#{-};
	}
	
	// List all span-based class names
	@for $i from 1 through $total_columns {
		.col-#{$breakpoint}#{$i} { width: $i/$total_columns * 100%; }
		.push-#{$breakpoint}#{$i} { margin-left: $i/$total_columns * 100%; }
		.push-right-#{$breakpoint}#{$i} { margin-right: $i/$total_columns * 100%; }
	}

	// List all ratio-based class names
	// Columns
	.col-#{$breakpoint}1-24
		{ width: 1/24 * 100%; }
	.col-#{$breakpoint}2-24,
	.col-#{$breakpoint}1-12,
		{ width: 2/24 * 100%; }
	.col-#{$breakpoint}3-24,
	.col-#{$breakpoint}1-8,
		{ width: 3/24 * 100%; }
	.col-#{$breakpoint}4-24,
	.col-#{$breakpoint}1-6,
	.col-#{$breakpoint}2-12,
		{ width: 4/24 * 100%; }
	.col-#{$breakpoint}5-24
		{ width: 5/24 * 100%; }
	.col-#{$breakpoint}6-24,
	.col-#{$breakpoint}1-4,
	.col-#{$breakpoint}2-8,
	.col-#{$breakpoint}3-12,
	.col-#{$breakpoint}4-16
		{ width: 6/24 * 100%; }
	.col-#{$breakpoint}7-24
		{ width: 7/24 * 100%; }
	.col-#{$breakpoint}8-24,
	.col-#{$breakpoint}1-3,
	.col-#{$breakpoint}2-6,
	.col-#{$breakpoint}4-12
		{ width: 8/24 * 100%; }
	.col-#{$breakpoint}9-24,
	.col-#{$breakpoint}3-8
		{ width: 9/24 * 100%; }
	.col-#{$breakpoint}10-24,
	.col-#{$breakpoint}5-12
		{ width: 10/24 * 100%; }
	.col-#{$breakpoint}11-24
		{ width: 11/24 * 100%; }
	.col-#{$breakpoint}12-24,
	.col-#{$breakpoint}1-2,
	.col-#{$breakpoint}2-4,
	.col-#{$breakpoint}3-6,
	.col-#{$breakpoint}4-8,
	.col-#{$breakpoint}6-12
		{ width: 12/24 * 100%; }
	.col-#{$breakpoint}13-24
		{ width: 13/24 * 100%; }
	.col-#{$breakpoint}14-24,
	.col-#{$breakpoint}7-12
		{ width: 14/24 * 100%; }
	.col-#{$breakpoint}15-24,
	.col-#{$breakpoint}5-8
		{ width: 15/24 * 100%; }
	.col-#{$breakpoint}16-24,
	.col-#{$breakpoint}2-3,
	.col-#{$breakpoint}4-6,
	.col-#{$breakpoint}8-12
		{ width: 16/24 * 100%; }
	.col-#{$breakpoint}17-24
		{ width: 17/24 * 100%; }
	.col-#{$breakpoint}18-24,
	.col-#{$breakpoint}3-4,
	.col-#{$breakpoint}6-8,
	.col-#{$breakpoint}9-12
		{ width: 18/24 * 100%; }
	.col-#{$breakpoint}19-24
		{ width: 19/24 * 100%; }
	.col-#{$breakpoint}20-24,
	.col-#{$breakpoint}5-6,
	.col-#{$breakpoint}10-12
		{ width: 20/24 * 100%; }
	.col-#{$breakpoint}21-24,
	.col-#{$breakpoint}7-8
		{ width: 21/24 * 100%; }
	.col-#{$breakpoint}22-24,
	.col-#{$breakpoint}11-12
		{ width: 22/24 * 100%; }
	.col-#{$breakpoint}23-24
		{ width: 23/24 * 100%; }
	.col-#{$breakpoint}24-24,
	.col-#{$breakpoint}1-1,
	.col-#{$breakpoint}2-2,
	.col-#{$breakpoint}3-3,
	.col-#{$breakpoint}4-4,
	.col-#{$breakpoint}6-6,
	.col-#{$breakpoint}8-8,
	.col-#{$breakpoint}12-12
		{ width: 24/24 * 100%; }
		
	// Push
	.push-#{$breakpoint}1-24
		{ margin-left: 1/24 * 100%; }
	.push-#{$breakpoint}2-24,
	.push-#{$breakpoint}1-12,
		{ margin-left: 2/24 * 100%; }
	.push-#{$breakpoint}3-24,
	.push-#{$breakpoint}1-8,
		{ margin-left: 3/24 * 100%; }
	.push-#{$breakpoint}4-24,
	.push-#{$breakpoint}1-6,
	.push-#{$breakpoint}2-12,
		{ margin-left: 4/24 * 100%; }
	.push-#{$breakpoint}5-24
		{ margin-left: 5/24 * 100%; }
	.push-#{$breakpoint}6-24,
	.push-#{$breakpoint}1-4,
	.push-#{$breakpoint}2-8,
	.push-#{$breakpoint}3-12,
	.push-#{$breakpoint}4-16
		{ margin-left: 6/24 * 100%; }
	.push-#{$breakpoint}7-24
		{ margin-left: 7/24 * 100%; }
	.push-#{$breakpoint}8-24,
	.push-#{$breakpoint}1-3,
	.push-#{$breakpoint}2-6,
	.push-#{$breakpoint}4-12
		{ margin-left: 8/24 * 100%; }
	.push-#{$breakpoint}9-24,
	.push-#{$breakpoint}3-8
		{ margin-left: 9/24 * 100%; }
	.push-#{$breakpoint}10-24,
	.push-#{$breakpoint}5-12
		{ margin-left: 10/24 * 100%; }
	.push-#{$breakpoint}11-24
		{ margin-left: 11/24 * 100%; }
	.push-#{$breakpoint}12-24,
	.push-#{$breakpoint}1-2,
	.push-#{$breakpoint}2-4,
	.push-#{$breakpoint}3-6,
	.push-#{$breakpoint}4-8,
	.push-#{$breakpoint}6-12
		{ margin-left: 12/24 * 100%; }
	.push-#{$breakpoint}13-24
		{ margin-left: 13/24 * 100%; }
	.push-#{$breakpoint}14-24,
	.push-#{$breakpoint}7-12
		{ margin-left: 14/24 * 100%; }
	.push-#{$breakpoint}15-24,
	.push-#{$breakpoint}5-8
		{ margin-left: 15/24 * 100%; }
	.push-#{$breakpoint}16-24,
	.push-#{$breakpoint}2-3,
	.push-#{$breakpoint}4-6,
	.push-#{$breakpoint}8-12
		{ margin-left: 16/24 * 100%; }
	.push-#{$breakpoint}17-24
		{ margin-left: 17/24 * 100%; }
	.push-#{$breakpoint}18-24,
	.push-#{$breakpoint}3-4,
	.push-#{$breakpoint}6-8,
	.push-#{$breakpoint}9-12
		{ margin-left: 18/24 * 100%; }
	.push-#{$breakpoint}19-24
		{ margin-left: 19/24 * 100%; }
	.push-#{$breakpoint}20-24,
	.push-#{$breakpoint}5-6,
	.push-#{$breakpoint}10-12
		{ margin-left: 20/24 * 100%; }
	.push-#{$breakpoint}21-24,
	.push-#{$breakpoint}7-8
		{ margin-left: 21/24 * 100%; }
	.push-#{$breakpoint}22-24,
	.push-#{$breakpoint}11-12
		{ margin-left: 22/24 * 100%; }
	.push-#{$breakpoint}23-24
		{ margin-left: 23/24 * 100%; }
	.push-#{$breakpoint}24-24,
	.push-#{$breakpoint}1-1,
	.push-#{$breakpoint}2-2,
	.push-#{$breakpoint}3-3,
	.push-#{$breakpoint}4-4,
	.push-#{$breakpoint}6-6,
	.push-#{$breakpoint}8-8,
	.push-#{$breakpoint}12-12
		{ margin-left: 24/24 * 100%; }
		
	// Push-Right
	.push-right-#{$breakpoint}1-24
		{ margin-right: 1/24 * 100%; }
	.push-right-#{$breakpoint}2-24,
	.push-right-#{$breakpoint}1-12,
		{ margin-right: 2/24 * 100%; }
	.push-right-#{$breakpoint}3-24,
	.push-right-#{$breakpoint}1-8,
		{ margin-right: 3/24 * 100%; }
	.push-right-#{$breakpoint}4-24,
	.push-right-#{$breakpoint}1-6,
	.push-right-#{$breakpoint}2-12,
		{ margin-right: 4/24 * 100%; }
	.push-right-#{$breakpoint}5-24
		{ margin-right: 5/24 * 100%; }
	.push-right-#{$breakpoint}6-24,
	.push-right-#{$breakpoint}1-4,
	.push-right-#{$breakpoint}2-8,
	.push-right-#{$breakpoint}3-12,
	.push-right-#{$breakpoint}4-16
		{ margin-right: 6/24 * 100%; }
	.push-right-#{$breakpoint}7-24
		{ margin-right: 7/24 * 100%; }
	.push-right-#{$breakpoint}8-24,
	.push-right-#{$breakpoint}1-3,
	.push-right-#{$breakpoint}2-6,
	.push-right-#{$breakpoint}4-12
		{ margin-right: 8/24 * 100%; }
	.push-right-#{$breakpoint}9-24,
	.push-right-#{$breakpoint}3-8
		{ margin-right: 9/24 * 100%; }
	.push-right-#{$breakpoint}10-24,
	.push-right-#{$breakpoint}5-12
		{ margin-right: 10/24 * 100%; }
	.push-right-#{$breakpoint}11-24
		{ margin-right: 11/24 * 100%; }
	.push-right-#{$breakpoint}12-24,
	.push-right-#{$breakpoint}1-2,
	.push-right-#{$breakpoint}2-4,
	.push-right-#{$breakpoint}3-6,
	.push-right-#{$breakpoint}4-8,
	.push-right-#{$breakpoint}6-12
		{ margin-right: 12/24 * 100%; }
	.push-right-#{$breakpoint}13-24
		{ margin-right: 13/24 * 100%; }
	.push-right-#{$breakpoint}14-24,
	.push-right-#{$breakpoint}7-12
		{ margin-right: 14/24 * 100%; }
	.push-right-#{$breakpoint}15-24,
	.push-right-#{$breakpoint}5-8
		{ margin-right: 15/24 * 100%; }
	.push-right-#{$breakpoint}16-24,
	.push-right-#{$breakpoint}2-3,
	.push-right-#{$breakpoint}4-6,
	.push-right-#{$breakpoint}8-12
		{ margin-right: 16/24 * 100%; }
	.push-right-#{$breakpoint}17-24
		{ margin-right: 17/24 * 100%; }
	.push-right-#{$breakpoint}18-24,
	.push-right-#{$breakpoint}3-4,
	.push-right-#{$breakpoint}6-8,
	.push-right-#{$breakpoint}9-12
		{ margin-right: 18/24 * 100%; }
	.push-right-#{$breakpoint}19-24
		{ margin-right: 19/24 * 100%; }
	.push-right-#{$breakpoint}20-24,
	.push-right-#{$breakpoint}5-6,
	.push-right-#{$breakpoint}10-12
		{ margin-right: 20/24 * 100%; }
	.push-right-#{$breakpoint}21-24,
	.push-right-#{$breakpoint}7-8
		{ margin-right: 21/24 * 100%; }
	.push-right-#{$breakpoint}22-24,
	.push-right-#{$breakpoint}11-12
		{ margin-right: 22/24 * 100%; }
	.push-right-#{$breakpoint}23-24
		{ margin-right: 23/24 * 100%; }
	.push-right-#{$breakpoint}24-24,
	.push-right-#{$breakpoint}1-1,
	.push-right-#{$breakpoint}2-2,
	.push-right-#{$breakpoint}3-3,
	.push-right-#{$breakpoint}4-4,
	.push-right-#{$breakpoint}6-6,
	.push-right-#{$breakpoint}8-8,
	.push-right-#{$breakpoint}12-12
		{ margin-right: 24/24 * 100%; }
	
	

	// Add rule to stack columns if $auto_break is enabled
	@if $auto_break {
		@media screen and (max-width: $go_to_single_column) {
			.col-1, .col-2, .col-3, .col-4, .col-5, .col-3-6, .col-1-4 { width: 100%; }
			.push-1, .push-2, .push-3, .push-4, .push-5, .push-3-6, .push-1-4 { margin-left: 0; }
			.push-right-1, .push-right-2, .push-right-3, .push-right-4, .push-right-5, .push-right-3-6, .push-right-1-4 { margin-right: 0; }
		}
	}
}




// Helper classes to apply fatstacks directly to HTML
@if $enable_helper_classes {

	.container {
		@include container;
	}
	
	[class*='col-'] {
		float: left;
		padding: 0 $gutter 0 0;
	}

	// Print out HTML classes for default setting and for each breakpoint
	@include printClasses();
	@each $breakpoint in ($sm, $md, $lg, $xl) {	
		@media screen and (max-width: $breakpoint) {
			@include printClasses($breakpoint);
		}
	}
}
